[submodule "blog"]
	path = blog
	url =  https://github.com:Malijai/blog.git
	branch = master
[submodule "depot"]
	path = depot
	url =  https://github.com:Malijai/depot.git
	branch = master
[submodule "dataentry"]
	path = dataentry
	url = https://github.com/Malijai/dataentry.git
	branch = master
[submodule "violation"]
	path = violation
	url =  https://github.com:Malijai/violation.git
	branch = master
[submodule "esms"]
	path = esms
	url =  https://github.com:Malijai/esms.git
	branch = master
[submodule "gh"]
	path = gh
	url =  https://github.com:Malijai/gh.git
	branch = master
