*.pyc
*.sqlite*
*.sq_lite*
.env
mbntp/Manitoba_private.pem
mbntp/media/
**/migrations/**
.idea/
mbntp/settings.py
media/

/dataentry/myprivatekeyNTP2.pem
/dataentry/myprivatekey.pem
/mbntp/GH_PKPK.private
/gh/GH_PKPK.private
/mbntp/ENV_NTP2
/mbntp/GH_PKPK.public

