[submodule "blog"]
	path = blog
	url = git@github.com:Malijai/blog.git
	branch = master
[submodule "depot"]
	path = depot
	url = git@github.com:Malijai/depot.git
	branch = master
[submodule "dataentry"]
	path = dataentry
	url = git@github.com:Malijai/dataentry.git
	branch = master
[submodule "violation"]
	path = violation
	url = git@github.com:Malijai/violation.git
	branch = master
