{% extends 'ressource_base.html' %}
{% load i18n %}

{% block titre %}
    <h4>{% trans "Liste des ressources et codification" %}</h4>
{% endblock titre %}

{% block maincontent %}
    <div class="w3-col w3-theme-l2">
    <a class="w3-button" href="{% url 'ressource_new' %}">{% trans "Nouvelle ressource" %}</a>
    </div>
        <div class="w3-theme-d3 w3-center">
            <div class="pagination">
               {% for p in page.paginator.pages %}
                    {% ifequal p page %}
                        <span class="selected">{{ page }}</span>
                    {% else %}
                        <a href="?page={{ p.number }}">{{ p }}</a>
                    {% endifequal %}
               {% endfor %}
            </div>
        </div>
    <div class="w3-container w3-padding-8">
        <table><tr><th>{% trans "Nom de la ressource" %}</th><th>Codes</th><th>{% trans "Coder" %}</th><th>{% trans "Modifier" %}</th></tr>
            {% for ressource in page.object_list %}
                <tr><td>{{ressource.nom }}</td>
                <td><ul>
                {% for esms in ressource.esms_set.all %}
                <li>ESMS : {{esms.choix_final}} {{esms.nombre}} {{esms.clientele}} ;</li>
                {% endfor %}
                </ul></td>
                <td><a href="{% url 'Faitinstitution' ressource.id '' '' %}">{% trans "Ajouter un code" %}</a></td>
                <td><a href="{% url 'ressource_edit' ressource.id %}">{% trans "Mettre a jour les infos de la ressource" %}</a></td>
            </tr>
            {% endfor %}
        </table>
    </div>
    <footer>
        <div class="w3-col w3-theme-l2">
            <a class="w3-button" href="{% url 'ressource_new' %}">{% trans "Nouvelle ressource" %}</a>
        </div>
        <div class="w3-theme-d3 w3-center">
            <div class="pagination">
               {% for p in page.paginator.pages %}
                    {% ifequal p page %}
                        <span class="selected">{{ page }}</span>
                    {% else %}
                        <a href="?page={{ p.number }}">{{ p }}</a>
                    {% endifequal %}
               {% endfor %}
            </div>
        </div>
    </footer>
{% endblock maincontent %}