{% extends 'ressource_base.html' %}
{% load i18n %}

{% block titre %}
    <h4>Ressource EDIT</h4>
{% endblock titre %}

{% block maincontent %}
    <div class="w3-container w3-padding-8">
        <h2 class="w3-amber">{{ entete }}</h2>
        <form method="POST" class="Entree-form" id="FF">
            {% csrf_token %}
            <table class="w3-table-all">
                {{ form.as_table }}

            </table>
            <h3 class="w3-amber">{% trans "Détails sur les différents types d'employés et bénévoles qui travaillent dans la ressource" %}</h3>
                {{ prof_formset.management_form }}
            <table class="w3-table-all" id="zz">
                <tr class="w3-dark-grey">
                    <th>{% trans "Profession" %}</th>
                    <th>{% trans "Nombre équivalent temps plein" %}</th>
                    <th>{% trans "Tâches, fonctions" %}</th>
                    <th>{% trans "Temps de travail" %}</th>
                </tr>
            {% for prof in prof_formset %}
            <tr>
                <td>{{ prof.profession }}</td>
                <td>{{ prof.nombre }}</td>
                <td>{{ prof.tache }}</td>
                <td>{{ prof.duree }}</td>
            </tr>
        {% endfor %}
    </table>
                <button type="submit" class="w3-button w3-amber">Save</button>
         </form>
    </div>

    <!-- Include formset plugin - including jQuery dependency -->

    {% get_current_language as language %}
    <script>
        $('#zz tr').formset({
    {% if language == "en" %}
            addText: 'Add a row',
            deleteText: 'Delete row'
    {% else %}
            addText: 'Ajouter une ligne',
            deleteText: 'Suprimer la ligne'
    {% endif %}
        });
    </script>

{% endblock maincontent %}