{% extends 'Rech_base.html' %}
{% load static %}
{% load i18n %}

{% block content %}
    <div class="w3-theme-l3" style="padding:5px;">
        <h3>National trajectory project (Part 1)</h3>
        {% blocktrans %}
            <p class="w3-medium">Le Projet national des trajectoires a permis d’examiner les dossiers de 1800 hommes et femmes déclarés NCRTM en Colombie-Britannique (n = 222), au Québec (n = 1094) et en Ontario (n = 484) de mai 2000 à avril 2005, et de les suivre jusqu’en décembre 2008.
            La collecte des données s'est déroulée de  ... à ....</p>
        {% endblocktrans %}
        <p class="w3-medium">{% trans "L'équipe de chercheurs était alors composée de :" %}</p>
        <ul>
            <li class="w3-medium"><b>Anne G. Crocker <i>QC</i></b> titres et affiliations</li>
            <li class="w3-medium"><b>Tonia Nicholls <i>BC</i></b> titres et affiliations</li>
            <li class="w3-medium"><b>Michael Seto <i>ON</i></b> titres et affiliations</li>
            <li class="w3-medium"><b>Gilles Côté <i>QC</i></b> titres et affiliations</li>
            <li class="w3-medium"><b>Eric Latimer <i>QC</i></b> titres et affiliations</li>
       </ul>
    </div>

    <div class="w3-theme-l4" style="padding:5px;">
        {% blocktrans %}
            <h3>Une étude nationale sur les occasions et les obstacles pour une réintégration communautaire réussie de patients de psychiatrie légale (NTP2 Community)</h3>
            <p class="w3-medium">L'objectif de la présente étude est de mieux comprendre les
            besoins et les évolutions des personnes déclarées NCR, la façon dont ces besoins sont comblés et
            les mesures mises en place lorsqu'ils quittent l'hôpital, afin d'identifier la meilleure façon
            d'assurer une réinsertion sociale réussie. Pour atteindre cet objectif, nous effectuerons un examen
            approfondi des dossiers administratifs de santé et des dossiers criminels d'une grande cohorte
            canadienne d'individus déclarés NCR ayant quitté l'hôpital entre 2010 et 2015 et suivis jusqu'en
            2018 dans 8 provinces. Cette recherche est actuellement financée par les IRSC depuis avril 2017
            </p>
        {% endblocktrans %}
        <p class="w3-medium">{% trans "L'équipe de chercheurs est composée de :" %}</p>
        <ul>
            <li class="w3-medium"><b>Anne G. Crocker <i>QC</i></b> Director, Research & Academics Institut Philippe-Pinel de Montréal, Professor, Department of Psychiatry and addictions Université de Montréal</li>
            <li class="w3-medium"><b>Tonia Nicholls <i>BC</i></b> Associate Professor, Psychiatry, Faculty of Medicine, UBC</li>
            <li class="w3-medium"><b>Michael Seto <i>ON</i></b> Director, Forensic Research Unit, The Royal's Institute of Mental Health Research</li>
            <li class="w3-medium"><b>Andrew Haag <i>AL</i></b> Alberta Health Services</li>
            <li class="w3-medium"><b>Mark Olver <i>SK</i></b> University of Saskatchewan | U of S · Department of Psychology</li>
            <li class="w3-medium"><b>Jamie Livingston <i>NS</i></b> Assistant Professor, Criminology, Saint Mary’s University, Halifax</li>
            <li class="w3-medium"><b>David Hill <i>MB</i></b> Clinical Psychologist and Assistant Professor, Department of Clinical Health Psychology, University of Manitoba</li>
            <li class="w3-medium"><b>Yanick Charette <i>QC</i></b> Social work school, Université Laval. He is an assistant professor at Université Laval's School of social work and criminology. His research discusses the effect of dynamic, structural and neighborhood factors on treatment and criminal recidivism. He is also interested in social network analysis, criminal deterrence, and rational choice theory.</li>
            <li class="w3-medium"><b>Michael Martin</b> </li>
            <li class="w3-medium"><b>Leila Salem</b> </li>
            <li class="w3-medium"><b>Cathy Willson</b> </li>
        </ul>

    </div>

{% endblock content %}



