{% extends 'Rech_base.html' %}
{% load static %}
{% load i18n %}

{% block content %}

    <div class="w3-theme-l2" style="padding:10px;">
        {% blocktrans %}
        <h3>Le projet national des trajectoires (NTP 1)</h3>
        <p>
        Ce projet a été financé par le FRSQ (de 2006 à 2009) et par la Commission de la santé mentale du Canada (de 2009 à 2013).<br>
        Le projet a examiné l'application des dispositions de la justice pénale pour les personnes déclarées non
        criminellement responsable pour cause de trouble mental (NCRTM) et placées sous l'autorité des commissions d'examen (CE)
        provinciales  du Québec, de l'Ontario et de Colombie-Britannique.
        Les antécédents et les trajectoires des personnes déclarées NCRTM incluant l'évolution au plan de la santé mentale et de la criminalité,
        ainsi que les processus de décision des CE ont été étudiés dans ce projet. Cette étude a été effectuée à partir des dossiers des commissions d'examen et des dossiers de la GRC.
        Des données issues des bases de données des services de santé provinciaux ne sont disponibles que dans 2 des provinces impliquées dans ce projet.<br>
        Les principales publications issues de ce programme de recherche sont disponibles
            {% endblocktrans %}
            <a href="{% url 'publications' %}" class="w3-button w3-theme-action">{% trans "&nbsp;ici&nbsp;" %}</a>
        </p>
    </div>

    <div class="w3-theme-light" style="padding:10px;">
        {% blocktrans %}
         <h3>NTP 2 Communauté</h3>
         <p>
         Au cours des deux dernières décennies, le Canada a connu une augmentation significative du
         nombre d'individus déclarés non criminellement responsables pour cause de trouble mental
         (NCR) et entrant dans les services de psychiatrie légale. Les cas récents de profils très médiatisés
         ont suscité un débat considérable quant à la manière la plus efficace de gérer et de traiter ces
         personnes de manière sécuritaire. <br>
             L'objectif de la présente étude est de mieux comprendre les
         besoins et les évolutions des personnes déclarées NCR, la façon dont ces besoins sont comblés et
         les mesures mises en place lorsqu'ils quittent l'hôpital, afin d'identifier la meilleure façon
         d'assurer une réinsertion sociale réussie. Pour atteindre cet objectif, nous effectuerons un examen
         approfondi des dossiers administratifs de santé et des dossiers criminels d'une grande cohorte
         canadienne d'individus déclarés NCR ayant quitté l'hôpital entre 2010 et 2015 et suivis jusqu'en
         2018 dans 8 provinces. <br>Avec la participation de nos partenaires des services de santé et de la
         justice au Canada, cette recherche identifiera les facteurs individuels (personnes NCR), les
         pratiques cliniques (traitements) et les systèmes (organisation des services et des ressources) qui
         contribuent à une réinsertion communautaire sûre et saine de cette clientèle légale. <br>Cette étude
         permettra d’adapter directement les pratiques, l'élaboration des politiques et les connaissances du
         public.
         </p>
        {% endblocktrans %}
    </div>

{% endblock content %}




