{% load i18n %}
{% load static %}

<html>
    <head>
        <title>NTP 2 Community -  Data entry</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'accueil/w3.css' %}">
        <link rel="stylesheet" href="{% static 'accueil/w3-theme-maison.css' %}">
        <link rel="stylesheet" type="text/css" href="/static/sondageM.css" />
          <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
          <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
          <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    </head>
<body class="w3-theme-l5">

<header class="w3-row w3-theme-d3" id="myHeader">

    <div class="w3-quarter">
        <a href="{% url 'logout' %}" class="w3-button w3-theme-action"> Logout</a>
    </div>

    <div class="w3-half w3-center">
        <h4>NTP 2 Community -  Feuilles de temps</h4>
    </div>

  <script>
  $( function() {
    $( "#datepicker" ).datepicker();
  } );
  </script>
</header>

<div class="principal">
{% if messages %}
    {% for msg in messages %}
        <div class="alert alert-{{msg.level_tag}}" role="alert">
        {{msg.message}}
        </div>
    {% endfor %}
{% endif %}

<form action="" method="post">
{% csrf_token %}

    <h2>{{ user.first_name }} {{ user.last_name }} </h2>
    <p>Date du debut de la periode: <input type="text" name="date" id="datepicker"></p>

<div class="w3-row w3-theme-l3 ">
    <div class="w3-half w3-center">
        <table>
            <tr>
                <td>Semaine 1</td><td>Heures travaillees</td><td>Semaine 2</td><td>Heures travaillees</td>
            </tr>
           {% for clef, jour in jours.items %}
             <tr>
                {% for semaine in jour.semaines %}
                    <td>{{ jour.nom }}</td>
                 <td><input type="number" value="0" min="0" max="10" step="0.5" name="{{semaine}}_{{clef}}"></td>
                {% endfor %}
             </tr>
           {% endfor %}
        </table>
    </div>
    <div class="w3-quarter w3-center">
        <button type="submit" class="btn-default">Imprimer la feuille de temps</button>
    </div>

</div>
</form>
</div>
</body>
</html>

